<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ansible Web Page</title>
</head>
<body>
    <h1>Welcome to Ansible Deployed Web Server!</h1>
    <p>This page was deployed using Ansible.</p>
    <p>Runningon {{inventory_hostname}}</p>
</body>
</html>
